{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}


    <!-- calculate the age of post -->
    {{ $ageSeconds := sub now.Unix .Date.Unix }}
    {{ $ageMinutes := div $ageSeconds 60 }}
    {{ $ageHours := div $ageMinutes 60 }}
    {{ $ageDays := div $ageHours 24 }}
    {{ $ageMonths := div $ageDays 30 }}
    {{ $ageYears := div $ageMonths 12 }}

    {{ if eq $ageSeconds 0 }}
        <!-- published now -->
        {{- $scratch.Add "meta" (slice (i18n "now" | default (printf "Now"))) }}

    {{ else if lt $ageSeconds 60 }}
        <!-- published in the last 60 seconds -->
        {{- $scratch.Add "meta" (slice (i18n "seconds_ago" $ageSeconds | default (printf "%d seconds ago" $ageSeconds))) }}

    {{ else if lt $ageMinutes 60 }}
        <!-- published in the last 60 minutes -->
        {{- $scratch.Add "meta" (slice (i18n "minutes_ago" $ageMinutes | default (printf "%d minutes ago" $ageMinutes))) }}

    {{ else if lt $ageHours 24 }}
        <!-- published in the last 24 hours -->
        {{- $scratch.Add "meta" (slice (i18n "hours_ago" $ageHours | default (printf "%d hours ago" $ageHours))) }}

    {{ else if lt $ageDays 30 }}
        <!-- published in the last 30 days -->
        {{- $scratch.Add "meta" (slice (i18n "days_ago" $ageDays | default (printf "%d days ago" $ageDays))) }}

    {{ else if lt $ageMonths 12 }}
        <!-- published in the last 12 months -->
        {{- $scratch.Add "meta" (slice (i18n "months_ago" $ageMonths | default (printf "%d months ago" $ageMonths))) }}

    {{ else }}
        <!-- published in the last years -->
        {{- $scratch.Add "meta" (slice (i18n "years_ago" $ageYears | default (printf "%d years ago" $ageYears))) }}

    {{ end }}


{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;•&nbsp;" -}}
{{- end -}}
